@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

body {
	background: #121214;
	overflow-x: hidden;
}
 
body * {
	font-family: Roboto, serif;
}

/* Навигация */
nav {
	z-index: 10;
	transition: .5s left;
	top: 0; left: 0;
	width: 100px;
	height: 100%;
	position: fixed;
	background: #2A2A2F;
}

nav div.navigation > button {
	padding: 5px;
	font-size: 13px;
	opacity: .5;
	color: #fff;
	background: transparent;
	transition: .2s opacity;
	margin-bottom: 10px;
	outline: none !important;
	border: none !important;
	display: block;
	width: 100%;
	height: 70px;
}

nav div.navigation > button:hover {
	opacity: 1;
}

nav div.navigation > button img {
	margin-bottom: 5px;
}

nav div.navigation > button.active {
	opacity: 1;
 	background: #1a7bee;
}

nav .logo {
	padding-bottom: 10px;
	color: #fff;
	border-bottom: 1px solid #ccc !important;
}

nav .logo div {
	text-align: center;
}

nav .logo img {
	margin: 0 auto 10px;
	width: 90%;
    display: block;
}

.burger {
    z-index: 1;
	transition: .5s left;
	top: 5px; left: 5px;
	border-radius: 10px;
	padding: 5px;
	background: #2A2A2F;
	position: absolute;
	width: 36px;
	height: 36px;
	display: none;
}

.burger.active {
	position: fixed;
	left: 255px;
}

.burger span,
.burger:after,
.burger:before {
	transition: .5s transform, .5s top;
	content: ".";
	color: transparent;
	position: absolute;
	width: calc(100% - 10px);
	height: 4px;
	border-radius: 100px;
	background: #fff;
}

.burger:before {
	top: 8px;
}

.burger span {
	top: 21px;
}

.burger:after {
	top: 34px;
}

.burger.active:before,
.burger.active span {
	transform: rotate(45deg);
}

.burger.active:before,
.burger.active:after {
	top: 22px;
}

.burger.active:after {
	transform: rotate(-45deg);
}

@media(max-width: 1250px) {
    nav {
    	width: 50px;
    }

    nav div.navigation > button {
    	height: 50px;
    }

    nav div.navigation > button > div {
    	display: none;
    }
}

@media(max-width: 950px) {
    nav {
    	width: 250px;
    	left: -250px;    	
    }

    nav.active {
    	left: 0;
    }

    nav .logo {
    	justify-content: center;
    	display: flex;
    }

    nav .logo div {
    	font-size: 30px;
    	margin: auto 0;
    }

    nav .logo img {
    	width: 50px;
		margin: auto 10px auto 0;
	}

    .burger,
    nav div.navigation > button > div {
    	display: block;
    }

    nav div.navigation > button {
    	font-size: 16px;
    	display: flex;
    }

    nav div.navigation > button > div {
    	margin: auto 0;
    }

    nav div.navigation > button > img {
    	margin: auto 10px;
    }
}

/* Модалки */
#modals .overlay {
    z-index: 30;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none
}

#modals .overlay.active {
    opacity: .2;
    transition: .3s;
    pointer-events: auto
}

#modals .modal {
    padding: 7px;
    margin: auto;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 400px;
    height: 350px;
    background: #2a2a2f;
    border-radius: 10px;
    transform: scale(0);
    z-index: 30;
}

#modals .modal#addFastProject {
	height: 365px;
}


#modals .modal#statsToday {
	height: 215px;
}

#modals .modal#stats {
	height: 300px;
}

#modals .modal#conflictSync {
	height: 150px;
}

#modals .modal.active {
	transition: .3s;
    transform: scale(1)
}

#modals .modal .head {
    justify-content: space-between;
    display: flex;
    color: #1a7bee;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc
}

#modals .modal .close {
	height: 25px;
	margin: auto 0;
    position: relative;
    width: 25px;
    opacity: .6;
    transition: .2s
}

#modals .modal .close:hover {
    opacity: 1;
    cursor: pointer
}

#modals .modal .close:after,
#modals .modal .close:before {
    content: ".";
    top: 10px;
    color: transparent;
    position: absolute;
    width: 25px;
    border-radius: 100px;
    height: 4px;
    background: #ccc
}

#modals .modal .close:after {
    transform: rotate(45deg)
}

#modals .modal .close:before {
    transform: rotate(-45deg)
}

#modals .modal .content .message {
	overflow-y: auto;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
	max-height: 240px;
}

#modals .modal#statsToday .content .message,
#modals .modal#stats .content .message {
	margin-top: 5px;
}

#modals .modal .content .message table {
	width: 100%;
}

#modals .modal .content img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#modals .modal .content .message table tbody tr {
	justify-content: space-between;
	padding: 5px;
	display: flex;
	border-radius: 4px;
	margin-bottom: 5px;
}

#modals .modal .content .message table tbody tr:nth-child(odd) {
	background-color: #1b1b1e; 
}

#modals .modal .content .message table tbody tr td {
	text-align: left;
}

#modals .modal .content .message table tbody tr th {
	text-align: right;
}

#modals .modal .content .image {
    font-size: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%
}

#modals .modal.active .content .image {
    animation: modal-image 1s;
    animation-delay: .3s
}

#modals .modal .content .events {
    bottom: 25px;
    display: flex;
    justify-content: space-around
}

#modals .modal#addFastProject .content {
	color: #fff;
}

@media(max-width: 450px) {
    #modals .modal {
        width: calc(100% - 30px);
    }
}

/* Тело */
.container {
	margin: 60px auto auto;
	width: 1000px;
	background: #1b1b1e;
	border-radius: 10px;
	padding: 15px;
	color: #fff;
}

.tabcontent > h4 {
	color: #1a7bee;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.projectsBlock .contentBlock {
	margin-bottom: 15px;
}

.projectsBlock .buttonBlock {
	margin-top: 15px;
	margin-bottom: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
}

.projectsBlock .contentBlock .listcontent li {
	background: #121214;
	margin-bottom: 10px;
	justify-content: space-between;
	display: flex;
	padding: 10px;
	border-radius: 5px;
}

.projectsBlock .contentBlock .listcontent li img[src="images/icons/stats.svg"] {
	margin-right: 10px;
}

.projectsBlock .contentBlock .listcontent li .controlItems {
	display: flex;
	margin: auto 0;
	justify-content: space-between;
}

.projectsBlock .contentBlock .listcontent li .message {
	line-height: 1.5;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projectsBlock .contentBlock .listcontent li .controlItems img {
	width: 30px;
	display: block;
	padding: 10px;
	height: 30px;
	opacity: .8;
	transition: .3s;
	border-radius: 5px;
}

.projectsBlock .contentBlock .listcontent li img:hover {
	cursor: pointer;
	opacity: 1;
}

.projectsBlock .contentBlock .listcontent li img[src="images/icons/stats.svg"]:hover {
	background: #1a7bee;
}

.projectsBlock .contentBlock .listcontent li img[src="images/icons/delete.svg"]:hover {
	background: #da5e5e;
}

.projectsBlock .contentBlock .listcontent li:nth-child(odd) {
	background: #2a2a2f;
}

.projectsBlock .buttonBlock button {
	position: relative;
}

.projectsBlock .buttonBlock button > span {
    top: -10px;
    font-weight: 600;
    pointer-events: none;
    z-index: 1;
    font-size: 14px;
    line-height: 30px;
    border-radius: 100%;
    height: 30px;
    justify-content: center;
    display: flex;
    width: 30px;
    position: absolute;
    color: #000;
    right: -10px;
    background: #ccc;
}

.aboutProject {
	margin-top: 20px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 4fr 1fr;
}

.aboutProject .cont {
	text-align: center;
	font-size: 19px;
}

.aboutProject .cont > div {
	margin-bottom: 5px;
}

.aboutProject .cont .free {
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 18px;
}

.aboutProject .cont .text {
	margin-bottom: 10px;
	opacity: .9;
	font-size: 16px;
}

#addProject {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.userSettings {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 20px;
}

.bottomLabel {
	align-items: flex-end;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

@media(max-width: 1250px) {
	#donate {
	    grid-column-start: 2;
	}

	#versionLabel {
		display: none;
	}

    .container {
    	width: 800px;
    }
}

@media(max-width: 543px) {
	#donate {
	    grid-column-start: 1;
	}
}

@media(max-width: 950px) {
    .container {
    	width: calc(100% - 30px);
    }

    .userSettings,
    #addProject {
    	grid-template-columns: none;
    }

    .projectsBlock .buttonBlock {
    	grid-template-columns: repeat(2, 1fr);
    }

    .projectsBlock .contentBlock .listcontent li .controlItems {
    	flex-direction: column;
    }

    .projectsBlock .contentBlock .listcontent li img[src="images/icons/stats.svg"] {
    	margin-right: 0;
    	margin-bottom: 5px;
    }

    .aboutProject .cont {
        width: 100%;
    }

    .projectsBlock .contentBlock .listcontent li .controlItems img {
    	padding: 5px;
    }
}

@media(max-width: 450px) {
    .projectsBlock .buttonBlock {
    	grid-template-columns: 1fr;
    }
}

/* Разное */
.statsSubtitle {
	font-size: 14px;
}

[data-resource="notAddedAll"] {
    text-align: center;
    margin-top: 20px;
}

.successFastAdd {
	margin-top: 20px;
	color: #4caf50;
}

.fastAddEl {
	padding: 5px 0;
	border-bottom: dashed 1px #ccc;
	display: flex;
	text-align: left;
	font-size: 14px;
}

.fastAddEl > * {
	display: block;
	margin: auto 0;
}

[data-resource="notAdded"], [data-resource="load"] {
	font-size: 14px;
	display: block;
	text-align: center;
	margin: 10px 0;
}

/*[data-resource="notAvailableInSilent"] {*/
[data-resource="passageCaptcha"] {
	position: relative;
	display: block;
	text-align: center;
	color: #da5e5e;
	margin: 10px 0;
}

#todayStats,
#generalStats {
	text-align: center;
	opacity: .9;
    background: #1a7bee;
	cursor: pointer;
	color: #fff;
    padding: 5px;
    border-radius: 3px;
	display: none;
	transition: .2s opacity;
}

#todayStats:hover,
#generalStats:hover {
	opacity: 1;
}

#authvk {
	padding: 0 8px;
	font-size: 15px;
	display: inline-flex;
	margin: 10px auto;
}

#authvk > * {
	margin: auto 0;
}

#authvk > img {
	width: 15px;
	height: 15px;
}

.link {
	outline: none !important;
	text-decoration: underline;
	cursor: pointer;
	color: #275daf !important;
}

.link:hover {
	color: #3674d2 !important;
}

#donate {
	text-align: right;
	display: block;
}

.fileSystem > div {
	margin-bottom: 10px;
}

#timeout,
#timeoutError {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

.file,
.selectsite,
.justBtn,
.submitBtn {
	opacity: .9;
	transition: .2s opacity;
	display: block;
	margin: auto;
	border-radius: 5px;
	border: none !important;
	outline: none !important;
	background: #1a7bee;
	color: #fff;
	font-size: 19px;
	padding: 10px 20px;
	text-align: center;
}

.selectsite:hover,
.file:hover,
.justBtn:hover,
.submitBtn:hover {
	cursor: pointer;
	opacity: 1;
}

.selectsite,
.file {
	justify-content: center;
	display: flex;
	font-size: 14px;
	background: #2a2a2f;
}

.selectsite.activeList {
	opacity: 1;
	background: #1a7bee;
}

.selectsite,
.justBtn {
	width: 100%;
}

.file > * {
	display: block;
	margin: auto 0;
}

.file > img {
	margin-left: 10px;
}

.file + input {
	display: none;
}

.tooltip1:before,
.tooltip2:before {
	content: "?";
	font-weight: 600;
}

.tooltip1,
.tooltip2 {
	color: #fff;
	margin-left: 5px;
	position: absolute;
	display: inline-block;
	border-radius: 25px;
	background: #1a7bee;
	width: 19px;
	height: 19px;
	cursor: help;
	line-height: 1.1;
	text-align: center;
	font-size: initial !important;
}

[data-resource="notAvailableInSilent"] .tooltip1,
[data-resource="notAvailableInSilent"] .tooltip2,
.input-block .tooltip1,
.input-block .tooltip2,
.label-block .tooltip2,
.label-block .tooltip1  {
    top: -3px;
}

.tooltip1 .tooltip1text,
.tooltip2 .tooltip2text  {
 	visibility: hidden;
 	overflow-wrap: anywhere;
 	width: 350px;
 	background-color: #000;
 	color: #fff;
 	text-align: center;
 	border-radius: 6px;
 	padding: 5px;
 	position: absolute;
 	z-index: 10;
 	margin-left: -183px;
 	opacity: 0;
 	transition: opacity 0.3s;
 	font-size: initial !important;
 }

.tooltip1 .tooltip1text {
	bottom: 145%;
}

.tooltip2 .tooltip2text {
	top: 155%;
}

.tooltip1 .tooltip1text::after,
.tooltip2 .tooltip2text::after {
 	content: "";
 	position: absolute;
 	left: 50%;
 	margin-left: -5px;
 	border-width: 5px;
 	border-style: solid;
 }
 
.tooltip1 .tooltip1text::after {
	top: 100%;
	border-color: #000 transparent transparent transparent;
}

.tooltip2 .tooltip2text::after {
	bottom: 100%;
	border-color: transparent transparent #000 transparent;
}

.tooltip1:hover .tooltip1text,
.tooltip2:hover .tooltip2text {
	visibility: visible;
	opacity: 1;
}

.social {
	display: block;
	margin: auto;
	border: none !important;
	outline: none !important; 
	padding: 10px;
	background: #1a7bee;
	border-radius: 50%;
	opacity: .8;
	transition: .2s;
}

.social:hover {
	opacity: 1;
}

.social img {
	width: 50px;
	height: 50px;
}

@media(max-width: 750px) {
	.aboutProject {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 20px;
	}

	.aboutProject .cont {
		order: 1;
		grid-column: 1/3;
	}

	.aboutProject .social {
		order: 2;
	}

    .social {

    }
}

@media(max-width: 450px) {
    .tooltip1,
	.tooltip2 {
		display: none;
	}
}

.checkbox {
	display: none;
}

.checkbox + label {
	line-height: 1.2;
    display: inline-block;
	position: relative;
	padding: 4px 0 4px 35px;
	font-size: 15px;
	color: #ddd;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.checkbox:disabled + label {
	opacity: .5;
}

.checkbox + label:last-child {
	margin-bottom: 0; 
}

.checkbox + label:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #6cc0e5;
	border-radius: 2px;
	position: absolute;
	left: 0;
	opacity: .6;
	-webkit-transition: all .12s, border-color .08s;
	transition: all .12s, border-color .08s;
}

.checkbox:checked + label:before {
	width: 10px;
	top: 0;
	left: 5px;
	border-radius: 0;
	opacity: 1;
	border-top-color: transparent;
	border-left-color: transparent;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.input-block,
.check-block {
	margin-bottom: 20px;
}

.input-block label,
.label-block label {
	position: relative;
	color: #696969;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 10px;
}

.datalist,
.textarea,
.select,
.input,
.input::placeholder,
.select::placeholder {
	color: #696969;
}

.textarea,
.select,
.input {
	font-size: 15px;
	display: block;
	padding: 3px 10px;
	outline: none !important;
	border: none !important;
	background: #2a2a2f;
	border-radius: 5px 5px 0 0;
	border-bottom: solid 2px #1a7bee !important;
}

.input {
	height: 35px;
	width: calc(100% - 20px);
}

.select {
	height: 43px;
	width: 100%;
	cursor: pointer;
}

.textarea {
	min-height: 100px;
	width: calc(100% - 20px);
}

.btn {
    font-size: 15px;
    border-radius: 5px;
    background: #1a7bee;
    color: #fff;
    padding: 7px 12px;
    outline: none!important;
    border: none!important;
    opacity: .9;
    transition: .2s
}

.redBtn {
    background: #da5e5e;
}

.error {
	color: #da5e5e;
}

.btn:hover {
    opacity: 1
}

/* Нотификации */
#notifBlock {
	flex-direction: column;
    display: flex;
    flex-flow: wrap-reverse;
    align-content: flex-end;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 330px;
    pointer-events: none;
    height: 100%;
}

#notifBlock > .notif { 
	transform-origin: right top;
    cursor: pointer;
    pointer-events: auto;
    right: 0;
    /*transition: .5s;*/
    transition: .3s box-shadow;
    margin: 10px 10px 0 10px;
    display: flex;
    width: 100%;
    padding: 8px;
    padding-top: 16px !important;
    color: #fff;
    min-height: 50px;
    border-radius: 5px;
    position: relative;
}

#notifBlock > .notif:hover {
	-webkit-box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 7px 2px rgba(255, 255, 255, 0.5);
}

@media(max-width: 330px) {
    #notifBlock {
    	width: 100%;
    }
}

#notifBlock > .notif.hint {
    min-height: 20px;
    padding-top: 8px !important;
}

#notifBlock > .notif.show {
    transform: translateX(0);
    animation: notif-show .5s linear;
}

#notifBlock > .notif.hide {
    transform: translateX(calc(100% + 10px));
    animation: notif-hide .5s linear;
}

#notifBlock > .notif.hidden {
    min-height: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
}

#notifBlock > .notif .progress {
    background: rgba(100, 100, 100, .3);
    border-radius: 100px;
    width: calc(100% - 10px);
    height: 6px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#notifBlock > .notif .progress div {
    background: #fff;
    border-radius: 100px;
    height: 6px;
    width: 100%;
}

#notifBlock > .notif img,
#notifBlock > .notif div {
    margin: auto 0;
}

#notifBlock > .notif div {
	overflow-wrap: anywhere;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

#notifBlock > .notif div .link {
	display: contents;
}

#notifBlock > .notif img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#notifBlock > .notif.error {
    background: #da5e5e;
}
    
#notifBlock > .notif.warn {
    background: #f1af4c;
}

#notifBlock > .notif.info {
    background: #1a7bee;
}

#notifBlock > .notif.success {
    background: #4caf50;
}

#notifBlock > .notif.hint {
    background: #37373d;
}

#addFastProject span.error {
	color: #da5e5e;
}

#addFastProject span.warn {
	color: #f1af4c;
}

#addFastProject span.success {
	color: #4caf50;
}

@keyframes notif-progress {   
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes notif-show {   
    0% {
        opacity: 0;
        transform: scale(0) translateX(calc(100% + 10px));
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes notif-hide {   
    0% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
    100% {
        opacity: 0;
        transform: scale(0) translateX(calc(100% + 10px));
    }
}

/* Скроллер */
::-webkit-scrollbar-button {
	/*background-image: url('');*/
	background-repeat: no-repeat;
	width: 5px;
	height: 0;
}

::-webkit-scrollbar-track {
	background-color: #2A2A2F;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb {
	/*border-radius: 0px;*/
	background: #1a7bee;
	/*border-radius: 2px;*/
}

::-webkit-scrollbar-thumb:hover{
	background-color:#1a7bee;
}

::-webkit-resizer{
	/*background-image: url('');*/
	background-repeat: no-repeat;
	width: 4px;
	height: 0;
}

::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}

#randomizeMin,
#randomizeMax {
     width: calc(100% - 268px);
     display: inline;
}

.version {
	margin-bottom: 15px !important;
}